.start-button {
    // background-color: #16c79a;
    /* Green */
    border: none;
    color: white;
    // padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.stop-button {
    background-color: rgba(118, 146, 254, 0.69);
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cancel-button {
    background-color: #d34e5c;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.pulse-ring {
    content: "";
    width: 230px;
    height: 230px;
    border: 5px solid #f6c863;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: pulsate infinite 1.5s;
}

.pulse-ring2 {
    content: "";
    width: 117px;
    height: 117px;
    border: 5px solid #f6c863;
    border-radius: 50%;
    position: absolute;
    top: -3.5px;
    left: -4px;
    animation: pulsate infinite 1.5s;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
