.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}

.add-files-btn {}

:host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.actions {
    justify-content: flex-start;
}

.container {
    height: 100%;
}
